/About Self.txt
/assignments.txt
/CodeBlocks.lnk
/desktop.ini
/Google Chrome.lnk
/js
/Microsoft Excel 2010 - Copy.lnk
/Microsoft Excel 2010.lnk
/Microsoft PowerPoint 2010 - Copy.lnk
/Microsoft PowerPoint 2010.lnk
/Microsoft Word 2010 - Copy.lnk
/Microsoft Word 2010.lnk
/Mod1Case_Burce_John Lester.zip
/Mod2Case_Burce, John Lester J..zip
/Plan2.txt
/ProjectCode.vbs
/Reporting part.txt
/RESEARCH 2.docx
/Roblox Player.lnk
/Solution 1 - Burce, John Lester .java
/Solution 1 - Burce, John Lester.java
/Solution 1 Burce, John Lester J.  .txt
/Solution 2 - Burce, John Lester .java
/Solution 2 Burce, John Lester .java
/Solution 4 Burce, John Lester.java
/Solution 5 Burce, John Lester .java
/Source Code .txt
/Source Code for Case Study.java
/SURVEY FOR RESEARCH 2.txt
/UserBenchmark copy.lnk
/UserBenchmark.lnk
/Visual Studio Code.lnk
/Zoom.lnk